<div class="login-page">
    <a routerLink="/"> <img src="trello-logo.svg" class="trello-main-logo" /></a>
    <div class="form-container">
        <div class="login-header">Register to Trello</div>
        <div class="errors"></div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input formControlName="email" type="email" placeholder="Email" class="login-input" />
            <input formControlName="username" type="text" placeholder="Username" class="login-input" />
            <input formControlName="password" type="password" placeholder="Password" class="login-input" />
            <input type="submit" placeholder="Email" class="login-submit-button" />
        </form>
        <div class="bottom-form-links">
            <a routerLink="/login" class="register-link">Login</a>
        </div>
    </div>
</div>